.problem{
    min-width: 500px;
}
.problem table{
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    height: 425px;
}
.login-card table td:nth-child(1){
    width: 25%;
}
.login-card table td:nth-child(2){
    width: 37%;
}
.login-card table td:nth-child(3){
    width: 38%;
}