.login-card{
    width: 30%;
    min-width: 350px;
}
.login-card table{
    width: 85%;
    margin: 0px auto;
    height: 150px;
}
.login-card table td:nth-child(1){
    width: 35%;
}
.login-card table td:nth-child(2){
    width: 65%;
}
