.register{
    margin: 20px auto;
    width: 30%;
    height: max-content;
    background-color: #fcfcfc;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #989898;
}
.register .tittle{
    width: 100%;
    height: max-content;
    padding: 1% 0px;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    border-bottom: 1px solid #989898;
}
.register .footer{
    background-color: #f1f1f1;
    border-radius: 0px;
    text-align: right;
    border: 0px;
    border-top: 1px solid #989898;
}
.register table{
    width: 85%;
    margin: 0px auto;
    height: 250px;
}
.register table td:nth-child(1){
    width: 35%;
}
.register table td:nth-child(2){
    width: 65%;
}
.register button{
    padding: 5px 20px;
    border: 1px solid #a1a1a1;
}
.register button:hover{
    border: 1px solid #003effa8;
}
.register input{
    height: 20px;
    width: 90%;
}