.register{
    width: 30%;
    min-width: 320px;
}
.register table{
    width: 85%;
    margin: 0px auto;
    height: 250px;
}
.register table td:nth-child(1){
    width: 35%;
}
.register table td:nth-child(2){
    width: 65%;
}