{% extends 'base.html' %}

{% block title %}
  <title>Add Editorial</title>
{% endblock %}

{% block content %}
<div class="container mt-4" style="min-height: 100vh;">
    <div class="card col-12 col-md-6 col-lg-4 m-auto" style="width:90%;">
        <div class="card-header">Add new Editorial</div>
        <div class="card-body">
            <form action="{% url 'after_add_editorial' %}" method="POST">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label for="problemName">Problem name *</label>
                    <input type="text" class="form-control"
                        id="problemName" name="problemName" 
                        placeholder="Enter problem name" >
                </div>
                <div class="form-group mt-2">
                    <label for="problemLink">Problem source link *</label>
                    <input type="problemLink" class="form-control"
                    id="problemLink" name="problemLink"
                        aria-describedby="problemLinkHelp" 
                        placeholder="Problem source link">
                </div>
                <div class="form-group mt-2">
                    <label for="onlinejudge">Online Judge *</label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="width: 100%;" type="button" id="judgebutton" data-bs-toggle="dropdown" aria-expanded="false">
                            <input class="btn btn-secondary p-0" id="judge"  type="button" name="judge" value="Select"/>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="judgebutton"  style="width: 100%;">
                            <!-- {% for tag in tags %}
                            {% endfor %} -->
                            {% for judge in judges %}
                                <li><button class="judge-name btn btn-light" type="button"  style="width: 100%;" >{{judge}}</button></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#newjudgemodal"  style="width: 100%;" >New judge</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <div id="problemtags">
                        <!-- <div class="search-box btn btn-light">
                            <span class="search-text">Binary search</span>
                            <i class="bi bi-x"></i>
                        </div>                           -->
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="width: 100%;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Problem tags
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton1"  style="width: 100%;">
                            <li><input name="judgequery"  style="width: 100%;"/></li>
                            {% for tag in tags %}
                                <li><button class="tag btn btn-light" type="button"  style="width: 100%;" >{{tag}}</a></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  style="width: 100%;" >New tag</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="tutorial">Add Tutorial</label>
                    <textarea type="text" class="form-control"
                        id="tutorial" name="tutorial"
                        aria-describedby="tutorialHelp"></textarea>
                </div>
                <div class="form-group mt-2">
                    <label for="code">Add Code</label>
                    <textarea type="text" class="form-control"
                        id="code" name="code"
                        aria-describedby="codeHelp"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark mt-3">Add</button>
                    <a type="button" class="btn btn-dark mt-3" href="/problems/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Suggest new problem tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'newtagsuggestion' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="newtag">New tag *</label>
                            <input type="text" class="form-control"
                                id="newtag" name="newtag" 
                                placeholder="Enter new tag"/>
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark mt-3">Request</button>
                                <a type="button" class="btn btn-dark mt-3" data-bs-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newjudgemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newjudgemodalLabel">Suggest new  judge</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'newjudgesuggestion' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="newjudge">New judge *</label>
                            <input type="text" class="form-control"
                                id="newjudge" name="newjudge" 
                                placeholder="Enter new judge"/>
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark mt-3">Request</button>
                                <a type="button" class="btn btn-dark mt-3" data-bs-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    // {% comment %} expand tutorial & code area {% endcomment %}
    function expandTextarea(id) {
        document.getElementById(id).addEventListener('keyup', function() {
            this.style.overflow = 'hidden';
            this.style.height = 0;
            this.style.height = this.scrollHeight + 'px';
        }, false);
    }
    
    expandTextarea('tutorial');
    expandTextarea('code');



   $(document).ready(function(){
        $("form").submit(function(event){
            event.preventDefault();
            var searchTags = [];
            $(".search-text").each(function() {
                searchTags.push($(this).text());
            });
            $.ajax({
                type: "POST",
                url: "{% url 'after_add_editorial' %}",
                data: {
                    'problemName': $('#problemName').val(),
                    'problemLink': $('#problemLink').val(),
                    'judge': $('#judge').val(),
                    'searchTags': JSON.stringify(searchTags),
                    'tutorial': $('#tutorial').val(),
                    'code': $('#code').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data) {
                    // handle success
                    window.location.href = "/profile/";
                },
                error: function(xhr, status, error) {
                    // handle error
                }
            });
        });

        function createProblemTag(text){
            const problemTag = document.createElement("div");
            problemTag.classList.add("search-box", "btn", "btn-light", "m-1");

            // create search text 
            const tagText = document.createElement("span");
            tagText.classList.add("search-text");
            tagText.innerText = text;

            // create the cross icon i element
            const crossIcon = document.createElement("i");
            crossIcon.classList.add("bi", "bi-x");
            crossIcon.addEventListener("click", () => {
                // remove the search box when cross icon is clicked
                problemTag.remove();
            });

            problemTag.appendChild(tagText);
            problemTag.appendChild(crossIcon);
            return problemTag;
        }

        // select new tag
        $(".tag").click(function(){
            var buttonText = $(this).text();
            var searchContainer = $("#problemtags")[0];
                    
            searchContainer.appendChild(createProblemTag(buttonText));
        });
        $(".judge-name").click(function(){
            var buttonText = $(this).text();
            console.log(buttonText);
            $('input[name="judge"]').val(buttonText);
        });
    }); 

</script>
{% endblock %}