{% extends 'base.html' %}

{% block title %}
  <title>Add Blog</title>
{% endblock %}

{% block content %}
<div class="container mt-4" style="min-height: 100vh;">
    <div class="card col-12 col-md-6 col-lg-4 m-auto" style="width:90%;">
        <div class="card-header">Add new blog</div>
        <div class="card-body">
            <form action="{% url 'addproblem' %}" method="POST">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label for="blogName">blog name *</label>
                    <input type="text" class="form-control"
                        id="blogName" name="blogName" 
                        placeholder="Blog name" >
                </div>
                <div class="form-group mt-2">
                    <label for="blogLink">Blog source link *</label>
                    <input type="url" class="form-control"
                    id="blogLink" name="blogLink"
                        aria-describedby="blogLinkHelp" 
                        placeholder="Blog source link">
                </div>
                <div class="form-group mt-2">
                    <label for="description">Brief description *</label>
                    <textarea type="text" class="form-control"
                        id="description" name="description"
                        aria-describedby="descriptionHelp"></textarea>
                </div>
                <div class="form-group mt-2">
                    <label for="comment">Additional comment</label>
                    <textarea type="text" class="form-control"
                        id="comment" name="comment"
                        aria-describedby="commentHelp"></textarea>
                </div>




                <div class="text-center">
                    <button type="submit" class="btn btn-dark mt-3">Add</button>
                    <a type="button" class="btn btn-dark mt-3" href="/problems/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  
    // {% comment %} expand tutorial & code area {% endcomment %}
    function expandTextarea(id) {
        document.getElementById(id).addEventListener('keyup', function() {
            this.style.overflow = 'hidden';
            this.style.height = 0;
            this.style.height = this.scrollHeight + 'px';
        }, false);
    }
    
    expandTextarea('tutorial');
    expandTextarea('code');
  
</script>
{% endblock %}