<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
      <title>Home</title>
    {% endblock %}
    <style>
      {% block style %}
      /* global message for user  */
      .global-message{
        border-radius: 4px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
      }
      .global-message.error{
        border: 1px solid #ff7991;
        background-color: pink;
      }
      .global-message.success{
        border: 1px solid #68d57b;
        background-color: #9eff9275;
      }
      .global-message.info{
        border: 1px solid #0fa8cf;
        background-color: #46d5f9;
      }
      {% endblock %}

    </style>
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <!-- bootstrap  -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">

    <!-- font-awesome libray -->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    
    <!-- ajax libray -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'js/js.js' %}"></script>
    
    <!-- boostrap 5 libray -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <!-- FOR GRAPH CHART  -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-4" href="/">Programming Adda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fs-5 {% if request.path == '/' %} active{% endif %}" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 {% if request.path == '/contestants/' %} active{% endif %}" href="/contestants/">Contestant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 {% if request.path == '/problems/' %} active{% endif %}" href="/problems/">Problems</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 {% if request.path == '/blogs/' %} active{% endif %}" href="/blogs/">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 {% if request.path == '/editorials/' %} active{% endif %}" href="/editorials/">Editorials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 {% if request.path == '/others/' %} active{% endif %}" href="/others/">Others</a>
            </li>
          </ul>

          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item notification-icon">
              <!-- <button class="btn btn-secondary dropdown-toggle" style="width: 100%;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Problem tags
              </button> -->
              <div class="nav-link dropdown">
                <i class="bi bi-bell" id="notifications" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <span class="notification-count translate-middle badge rounded-pill bg-danger">0</span>
                <ul class="dropdown-menu" aria-labelledby="notifications"  style="width: 100%;">
                  <li><a href="#" class="btn" type="button"  style="width: 100%;" >Notication 1</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="btn" type="button"  style="width: 100%;" >Notication 2</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="btn" type="button"  style="width: 100%;" >Notication 3</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item message-icon">
              <div class="nav-link dropdown">
                <i class="bi bi-envelope" id="messages" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <span class="message-count translate-middle badge rounded-pill bg-danger">0</span>
                <ul class="dropdown-menu" aria-labelledby="messages"  style="width: 100%;">
                  <li><a href="#" class="btn" type="button"  style="width: 100%;" >Message 1</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="btn" type="button"  style="width: 100%;" >Message 2</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="btn" type="button"  style="width: 100%;" >Message 3</a></li>
                </ul>
              </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" href="/profile/">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger {% if request.path == '/logout/' %}active{% endif %}" href="/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/register/' %}active{% endif %}" href="/register/">Registration</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div style="min-height: 100vh;">
      <div class="global-message {{type}}" >{{message}}</div>
      
      {% block content %}
      {% endblock %}
    </div>  
    <footer class="footer bottom bottom bg-light py-2">
      <div class="container text-center">
        <span class="text-muted"><a href="/">Programming Adda</a> © Copyright
          2023-2023 Bonusree and Mestu. All rights reserved.</span>
      </div>
    </footer>
  </body>
</html>