{% extends 'base.html' %}

{% block title %}
<title>Graphics</title>
{% endblock %}

{% block content %}
<div class="container-fluid" style="min-height: 100vh;">
    <div class="row justify-content-center mb-3">
        <nav class="navbar navbar-expand-lg navbar-light  p-0 sticky-top">
            <div class="container-fluid">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link mx-2  border-dark border-bottom fs-5" aria-current="page" href="#" id="line_drawing">Line</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2 border-dark  fs-5" aria-current="page" href="#" id="circle_drawing">Circle</a>

                  </li>
                </ul>
            </div>
          </nav>
    </div>
    <div class="card col-12 col-md-6 col-lg-4 m-auto d-block" id="line">
        <div class="card-header">Line Drawing algorithm
        </div>
        <div class="card-body">
            <form action="{% url 'graphics' %}" method="POST" id="graphics">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <select class="form-control" id="type" name="type" required>
                        <option value="">Select algorithm</option>
                        <option value="dda_1">DDA method</option>
                        <option value="bresenham">Bresenham</option>
                    </select>

                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control"
                        id="x1" name="x1"
                        placeholder="Enter x1 value" required>
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control"
                        id="y1" name="y1"
                        placeholder="Enter y1 value" required>
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control"
                        id="x2" name="x2"
                        placeholder="Enter x2 value" required>
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control"
                        id="y2" name="y2"
                        placeholder="Enter y2 value" required>
                </div>
                <div class="form-group mt-2">
                    <select class="form-control" name="chart_type" required>
                        <option value="">Select chart type</option>
                        <option value="line">Line</option>
                        <option value="scatter">Dot</option>
                    </select>

                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark mt-3">Get result</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card col-12 col-md-6 col-lg-4 m-auto d-none" id="circle">
        <div class="card-header">Circle Drawing algorithm
        </div>
        <div class="card-body">
            <form action="{% url 'graphics_circle' %}" method="POST" id="graphics_circle">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <select class="form-control" id="type" name="type" required>
                        <option value="">Select algorithm</option>
                        <option value="midpoint">Mid point</option>
                        <option value="bresenham">Bresenham</option>
                    </select>

                </div>
                <div class="form-group mt-2">
                    <input type="number" class="form-control" required
                        id="h" name="h"
                        placeholder="Enter h value" >
                </div>
                <div class="form-group mt-2">
                    <input type="number" class="form-control" required
                        id="k" name="k"
                        placeholder="Enter k value" >
                </div>
                <div class="form-group mt-2">
                    <input type="number" class="form-control" required
                        id="r" name="r"
                        placeholder="Enter r value" >
                </div>
                <div class="form-group mt-2">
                    <select class="form-control" name="chart_type" required>
                        <option value="">Select chart type</option>
                        <option value="line">Line</option>
                        <option value="scatter">Dot</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark mt-3">Get result</button>
                </div>
            </form>
        </div>
    </div>

    {% if result is not None%}
    <div style="max-width: 600px; margin: 20px auto;">
        <p><h3>Problem description</h3> {{problem_description}}</p>
        {% if type == 'dda_1' %}
        <h3>Solution</h3>
        Here I define two points as <i>x<sub>1</sub>={{x1}}, y<sub>1</sub>={{y1}}</i>
        and <i>x<sub>2</sub>={{x2}}, y<sub>2</sub>={{y2}}</i>. Now following
        above mentioned algorithm I will find out all pixel points and showing
        it in a table.<br>
        <i>dx = {{x1_x2}} = {{dx}}</i><br>
        <i>dy = {{y1_y2}} = {{dy}}</i><br>
        <i>step = {{step}}</i><br>
        <i>X<sub>increment</sub> = {{x_inc}}</i><br>
        <i>Y<sub>increment</sub> = {{y_inc}}</i><br>
        {% else %}
        {% for des in description %}
        {{des}}<br>
        {% endfor %}
        {% endif %}

    </div>
    <!-- {{result}}
        <div class="mt-5"></div> -->
            <table class="table table-striped table-hover table-bordered mx-1 m-auto">
                <tr>
                    {% for heading in headings %}
                    <th class="text-center">{{heading}}</th>
                    {% endfor %}
                </tr>
                {% for row in result %}
                <tr>
                    {% if type == 'dda_1' %}
                    <td class="text-center">{{row.step}}</td>
                    <td class="text-center">{{row.xi}}</td>
                    <td class="text-center">{{row.yi}}</td>
                    <td class="text-center">{{row.xi_1}}</td>
                    <td class="text-center">{{row.yi_1}}</td>
                    <td class="text-center">{{row.x_y}}</td>
                    <td class="text-center">{{row.plot_x_y}}</td>
                    {% endif %}
                    {% if type == 'bresenham' %}
                    <td class="text-center px-3">{{row.x1}}</td>
                    <td class="text-center px-3">{{row.y1}}</td>
                    <td class="text-center px-3">({{row.x1}},{{row.y1}})</td>
                    <td>{{row.f_l}}<br>{{row.l_l}}</td>
                    {% endif %}
                    {% if type == 'circle' %}
                    <td class="text-center">{{row.step}}</td>
                    <td class="text-center">{{row.x}}</td>
                    <td class="text-center">{{row.y}}</td>
                    <td class="text-center">{{row.plot1}}</td>
                    <td class="text-center">{{row.plot2}}</td>
                    <td class="text-center">{{row.plot3}}</td>
                    <td class="text-center">{{row.plot4}}</td>
                    <td class="text-center">{{row.plot5}}</td>
                    <td class="text-center">{{row.plot6}}</td>
                    <td class="text-center">{{row.plot7}}</td>
                    <td class="text-center">{{row.plot8}}</td>
                    <td class="text-center">{{row.p_update}}</td>
                    
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <div class="row justify-content-center my-3">
                <div class="col-11 text-center" style="width: {{chart_width}};
                height:{{chart_height}};">
                    <canvas id="myChart" class="text-center" style="max-width: 100%; width: {{chart_width}}; height: {{chart_height}};"></canvas>
                    <button onclick="saveChart()">Save chart</button>
                </div>
            </div>
    {% endif %}
    <!-- {{points}} -->
</div>
<script>
    $("#circle_drawing").on('click',function(){
        $("#line").removeClass("d-block");
        $("#line").addClass("d-none");
        $("#circle").removeClass("d-none");
        $("#circle").addClass("d-block");
        $("#line_drawing").removeClass("border-bottom");
        $(this).addClass("border-bottom");
    });
    $("#line_drawing").on('click',function(){
        $("#circle").removeClass("d-block");
        $("#circle").addClass("d-none");
        $("#line").removeClass("d-none");
        $("#line").addClass("d-block");
        $("#circle_drawing").removeClass("border-bottom");
        $(this).addClass("border-bottom");
    });
</script>
{% if result is not None%}
<script>
    
    const xValues = {{x_values|safe}};
    const yValues = {{y_values|safe}};
    const dataPoints = {{points|safe}};
    const fig = "{{figure_title|safe}}"
    // console.log(xValues)
    // console.log(yValues)
    // console.log(dataPoints)
    // console.log(fig)
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: '{{chart_type}}',
        data: {
            labels: xValues,
            datasets: [{
                data: dataPoints,
                lineTension: 0,
                backgroundColor: 'rgba(0, 0, 0, 0.2)',
                borderColor: 'rgba(0, 0, 0, 1)',
                borderWidth: 2,
                fill:false,
                pointRadius: 6,
                pointBackgroundColor: 'rgba(0, 0, 0, 1)',
                pointBorderColor: 'rgba(0, 0, 0, 1)',
                pointHoverRadius: 8,
                pointHoverBackgroundColor: 'rgba(0, 0, 255, 1)',
                pointHoverBorderColor: 'rgba(0, 0, 255, 1)'
            }]
        },
        options: {
            title: {
                display: true,
                text: fig,
                fontSize: 18,
                fontColor: "#333"  ,
                position: 'bottom'
            },
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'X-Axis'
                    },
                    ticks: {
                        min: Math.min(...xValues),
                        max: Math.max(...xValues),
                        stepSize: 1
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Y-Axis'
                    },
                    ticks: {
                        min: Math.min(...yValues),
                        max: Math.max(...yValues),
                        stepSize: 1
                    }
                }]
            }
        }
    });
    function saveChart() {
      var canvas = document.getElementById('myChart');
      var img = canvas.toDataURL('image/png');
      var link = document.createElement('a');
      link.href = img;
      link.download = 'chart.png';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  </script>
  {% endif %}
{% endblock %}