{% extends 'base.html' %}

{% block content %}
<div class="container" style="min-height: 100vh;">
  <div class="row mt-4 justify-content-between">
    <div class="col-lg-6 col-12 mt-2 mx-auto" style="min-width: 300px; max-width: 400px;">
      <div class="card">
        <div class="card-header text-center fw-bolder text-info">Problems</div>
        <img src="static/imgs/problems.jpg" alt="problems" class="card-img mx-auto" style="height:200px; width:200x">
        <div class="card-body text-center fw-bolder">
          Total problesm: {{problems}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 mt-2 mx-auto" style="min-width: 300px; max-width: 400px;">
      <div class="card">
        <div class="card-header text-center fw-bolder text-info">Contestants</div>
        <img src="static/imgs/contestant.jpg" alt="contestant" class="card-img mx-auto" style="height:200px; width:200x">
        <div class="card-body text-center fw-bolder">
          Total contributor: {{contributors}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 mt-2 mx-auto" style="min-width: 300px; max-width: 400px;">
      <div class="card">
        <div class="card-header text-center fw-bolder text-info">Blogs</div>
        <img src="static/imgs/blogs.jpg" alt="blogs" class="card-img mx-auto" style="height:200px; width:200px">
        <div class="card-body text-center fw-bolder">
          Total Blogs: {{blogs}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 mt-2 mx-auto" style="min-width: 300px; max-width: 400px;">
      <div class="card">
        <div class="card-header text-center fw-bolder text-info">Editorials</div>
        <img src="static/imgs/editorials.jpg" alt="editorials" class="card-img mx-auto" style="height:200px; width:200x">
        <div class="card-body text-center fw-bolder">
          Total Editorials: {{editorials}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}