<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style/navbar.css">

</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="name-logo">Programming Adda</div>
            <div class="menu-list">
                <div class="menu"><a href="#">Home</a></div>
                <div class="menu"><a href="#">Contestants</a></div>
                <div class="menu"><a href="#">Problems</a></div>
                <div class="menu"><a href="#">Blogs</a></div>
                <div class="menu"><a href="#">Editorials</a></div>
                <div class="menu"><a href="#">Tips</a></div>
            </div>
            <div class="menu-list">
                <div class="menu"><a href="#">Mestu Paul</a></div>
            </div>
        </div>
    </div>    
</body>
</html>