<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="card login-card">
            <div class="card-header">Login into Programming Adda</div>
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %} 
                <table>
                    <tr>
                        <td>Email</td>
                        <td><input type="email" name="email"/></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submit">Login</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="card-footer card-header">
                <a href="/register">Register</a>
            </div>
            
        </div>
    </div>
</body>
</html>