{% extends 'base.html' %}

{% block title %}
<title>profile</title>
{% endblock %}

{% block content %}
<div class="container">

  <!-- navbar -->

  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="#section1">overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section2">blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section3">editorials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section4">Problems</a>
    </li>
  </ul>
</div>


<!-- left side -->

<div class="container-fluid m-5" style="width: 93%;">
  <div class="row">
    <div class="col-8">
      {% if blogs %}
      <div id="section2" class="card text-dark bg-light m-4" style="max-width:
        50rem;">
        <div class="card-header d-inline-flex ">
          <div class="flex-fill">Blogs</div>
          <div><a href="{% url 'add_blogs' %}">Add</a></div>
          <div class="mx-3"><a href="#">Edit</a></div>
        </div>
        <div class="card m-4 p-3">
          <h5>Your added blog/s</h5>
          <ul>
            {% for blog in blogs %}
            <li><a href="{{blog.url}}"> {{blog.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% if editorials %}
      <div id="section3" class="card text-dark bg-light m-4" style="max-width:
        50rem;">
        <div class="card-header d-inline-flex ">
          <div class="flex-fill">Editorials</div>
          <div><a href="{% url 'editorials' %}">Add</a></div>
          <div class="mx-3"><a href="#">Edit</a></div>
        </div>
        <div class="card m-4 p-3">
          <h5>Your added editorial/s</h5>
          <ul>
            {% for editorial in editorials %}
            <li>{{editorial.title}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% if problems %}
      <div id="section4" class="card text-dark bg-light m-4" style="max-width:
        50rem;">
        <div class="card-header d-inline-flex ">
          <div class="flex-fill">Problems</div>
          <div><a href="{% url 'addproblem' %}">Add</a></div>
          <div class="mx-3"><a href="#">Edit</a></div>
        </div>
        <div class="card m-4 p-3">
          <h5>Your added problem/s</h5>
          <ul>
            {% for problem in problems %}
            <li><a href="{{problem.url}}">{{problem.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>


    <!-- edit profile -->

    <div class="col-4 " style="background-color:lavender;">
      <img class="card-img-top mr-3 mt-3" src="/static/imgs/common_profile.png"
        alt="Jane Doe" class="rounded-circle" style="width: 400px;">
      <div class="card-body">
        <div class="container mt-3">
          <h3>{{user}}</h3>
          <p>{{full_name}} <br>{{user.email}}  </p>
          {% if bio %}
          <p>{{bio}}</p>
          {% endif %}
          <div class="row justify-content-between">
            <div class="col-5">
              <i class='fas fa-user-friends'></i>
              Followers
            </div>
            <div class="col-5">
              <i class='fas fa-user-friends'></i>
              Following
            </div>
          </div>


          <button type="button" class="btn btn-outline-secondary m-3"
            data-bs-toggle="modal" data-bs-target="#editProfile" style="width:
            80%;">
            Edit Profile
          </button>

          {% if social_sites %} 
          <ul>
            {% for site in social_sites %}
            <li><a href="{{site.url}}">{{site.title}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          <button type="button" class="btn btn-outline-secondary m-3"
            data-bs-toggle="modal" data-bs-target="#addsite" style="width:
            80%;">
            Add site
          </button>
        </div>

        <!-- The Modal -->

        <!-- edit profile modal -->
        <div class="modal" id="editProfile">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
              <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="updateprofile"/>
                <div class="modal-body">
                  <div class="mb-3 mt-3">
                    <label for="Name" class="form-label">Full Name:</label>
                    <input type="text" class="form-control" id="name"
                      placeholder="Enter Your full name" name="name"
                      value="{{full_name}}">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="bio">Bio:</label>
                    <textarea type="text" class="form-control" rows="5" id="bio"
                      name="bio"></textarea>
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email"
                      placeholder="public your email" name="email" value="{{user.email}}" disabled>
                  </div>
                  <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="pwd"
                      placeholder="Enter password" name="password" disabled>
                  </div>
                </div>

                <!-- Modal foote  r -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>

            </div>
          </div>
        </div>

        <div class="modal" id="addsite">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
              <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="addsite"/>
                <div class="modal-body">
                  <div class="row mb-3 mt-3">
                    <div class="col-6">
                      <label for="website" class="form-label">Website title:</label>
                      <input type="text" class="form-control" id="website_title"
                        placeholder="Website title" name="website_title">
                    </div>
                    <div class="col-6">
                      <label for="website" class="form-label">Website url:</label>
                      <input type="url" class="form-control" id="website_url"
                        placeholder="Website url" name="website_url">
                    </div>
                  </div>

                </div>

                <!-- Modal foote  r -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script>
$(document).ready(function() {
  // Get all menu items
  var menuItems = $('.nav-link');

  // Add click event listener to each menu item
  menuItems.click(function() {
    // Remove active class from all menu items
    menuItems.removeClass('active');

    // Add active class to the clicked menu item
    $(this).addClass('active');
  });
});


</script>
  {% endblock%}